*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #050511;
}
main{
    width: 50%;
    height: 650px;
    background-color: #ffffff;
    border-radius: 7px;
    margin: 20px auto;
}
.hide{
    display: none;
}
#add-task{
    border: 5px solid #F1BE32;
    height: 100%;
    padding: 20px 0px;
    border-radius: 7px;
}
#add-task button, #form-submit{
    width: 350px;
    display: block;
    margin-inline: auto;
    padding: 7px;
    font-size: 1.2rem;
    background-color: #e7a515;
    border: 5px solid #F1BE32;
    cursor: pointer;
}
#task-form{
    padding: 30px;
}
#cancel p{
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: 2rem;
    cursor: pointer;
}
form {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
label{
    font-size: 1.85rem;
}
input{
    width: 100%;
    margin-bottom: 25px;
    height: 35px;
    padding: 10px;
}
#form-submit{
    width: 100%;
    display: block;
    margin-block-start: 40px;
    margin-inline: auto;
    padding: 7px;
    font-size: 1.2rem;
    background-color: #e7a515;
    border: 5px solid #F1BE32;
    cursor: pointer;
}